<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Particle Constellation FX</title>
    <!-- <link rel="stylesheet" href="src/vfx/style.css" > -->
     <style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas-constellation {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
}
     </style>
</head>
<body>
    <canvas id="canvas-constellation" >  </canvas>
    <script src="src/vfx/script.js" ></script>
    
</body>
</html>